*.o
ZGloom
Debug/*
Release/*
ZGloom.opensdf
ZGloom.sdf
ZGloom.v12.suo
ZGloom.vcxproj.filters
ZGloom.vcxproj.user
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile
*.self
*.self.out
*.velf
*.vpk
*.vpk.out
*.vpk_param.sfo
install.sh
src/.vscode/*
/.vscode/*
